#########
# Fania #
#########
desktop.ini

gource30.mp4
gource30.ppm

.vscode/
*.aux
*.bcf
*.lof
*.lol
*.log
*.lot
*.ptc
*.run.xml
*.toc
*.sum

.gitignore


*.backup
*.meta
*.obj
*.tmp


.DS_Store
