@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/*
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/

/*
regent grey #87939B
bismark #476775 poem
ivanhoe #314956 mainnav
woody brown #5B4646 th
dark knight #1F2D35 dt
dark tan #956248 h3
longitude #ABB4BE scroll-quotes
enigma #4E496E h1
picton blue #5F9CCB h2
*/



body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.hide {
  display: none;
}

#title h1, #title h2, #title h3 {
  margin: 0;
}

#title {
  background: #1F2D35;
}

.titletext {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

.titleimage {
  width: 100%;
  color: white;
}

.titleimage img {
  max-height: 900px;
}

blockquote {
  font-family: 'Roboto', sans-serif;
  background-color: #ABB4BE;
  padding: 1em;
  overflow: auto;
  margin: 2em 1em;
}

blockquote > p, blockquote > ul, blockquote > dl, blockquote > ol {
  margin: 0;
}

.blockcitation {
  float: right;
  font-size: .8em;
  color: #87939B;
}

.blockcitation a{
  color: #87939B;
}

code {
  font-family: 'Roboto Mono', monospace;
  background-color: #f2f2f2;
  /*white-space: pre-wrap;*/
  overflow-x: auto;
}

.poem code {
  background-color: #476775;
}

pre.text {
  background-color: #f2f2f2;
  padding: 5px;
}

a.uri {
  white-space: pre-wrap;
  word-break: break-word;
}

.mainnav {
  background-color: #314956;
  position: relative;
  padding: 10px;
}

.mainnav a {
  color: #fff;
}

.left {
  position: absolute;
}

.centre {
  display: inline-block;
  text-align: center;
  width: 50%;
  margin: 0 25%;
}

.right {
  position: absolute;
  right: 10px;
  top: 10px;
}

.triplespiral {
  width: 150px;
  margin: 2em auto;
  display: block;
}

.titleimg {
  margin: 5px 0 0 0;
  position: relative;
}

.titleimg img {
  max-width: 2000px;
}

.titleimg figcaption {
  font-size: .8em;
  text-align: center;
  padding: 0;
}

.poem {
  margin: 2em 0;
  padding: 20px;
  background-color: #476775;
  color: #fff;
  overflow: auto;
}

.partheading {
  margin: 0;
  text-align: center;
  font-variant: small-caps;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h1, h1 a {
  color: #fff;
  background-color: #4E496E;
  padding-left: 10px;
  line-height: 3em;
  margin: 0;
}

h2, h2 a {
  color: #fff;
  background-color: #5F9CCB;
  padding-left: 10px;
  line-height: 2em;
  margin-top: 2em;
}

h3, h3 a {
  color: #fff;
  background-color: #956248;
  padding-left: 10px;
  line-height: 1.5em;
  margin-top: 2em;
}

h4, h4 a {
  color: #fff;
  background-color: #ABB4BE;
  padding-left: 10px;
  line-height: 1.5em;
  margin-top: 2em;
}

h5 {
  display: inline-block;
  margin: 0 5px 0 0;
}

p {
  padding-left: 5px;
}

figure {
  text-align: center;
  margin: 2em 0;
}

figure.nomargins {
  margin: 0;
}

figure img {
  width: 100%;
  /*max-height: 600px;*/
  max-width: 500px;
}

figcaption {
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  padding-top: 1em;
}

figcaption.pushup {
  position: relative; 
  top: -40px;
}

.equation {
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
  overflow-x: auto;
  padding-top: 1em;
}

.equation img {
  width: 60%;
}

.equation figcaption {
  position: absolute;
  left: 1em;
  top: 0;
}

toc-section-number {
  margin-right: 10px;
}

ol, ul, dl {
  margin: 2em 2em;
}
ol li ol {
  margin: 0.5em;
}
dd ol, dd ul {
  margin: 0.5em;
}

dt {
  font-weight: bold;
  float: left;
  clear: left;
  text-align: right;
  color: #1F2D35;
  width: 100px;
}

dt::after {
  content: ":";
}

dd {
  margin-left: 110px;
}

dd p, li p {
  margin: 0;
}

.defaultDL dt {
  font-weight: bold;
  color: #1F2D35;
  width: 100%;
  text-align: left;
}

.defaultDL dd {
  margin-left: 20px;
}

.constheight dd {
  line-height: 1.6em;
}

.sourceCode pre code,
.sourceCode pre .line-number {
  display: block;
}
.sourceCode pre code {
  background: #ABB4BE;
}
.sourceCode pre .line-number {
  font-size: 1em;
  line-height: 1.68em;
  float: left;
  text-align: right;
  width: 1em;
}
.sourceCode pre .line-number span {
  display: block;
  padding: 0 .5em 0 1em;
  position: relative;
  left: -45px;
}
.sourceCode pre .cl {
  display: block;
  clear: both;
}
.sourceCode figure pre {
  text-align: left;
  background: #ABB4BE;
  padding: 10px;
}
.sourceCode figure figcaption {
  text-align: center;
}
pre.text {
  padding: 10px 20px;
}
pre.text span.line-number {
  opacity: 0;
  display: none;
}
pre.text code {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.scrollbar {
  padding-bottom: 15px;
  overflow-x: auto;
}
.scrollbar::-webkit-scrollbar-track {
	background-color: #F5F5F5;
  border-radius: 5px;
}
.scrollbar::-webkit-scrollbar {
	width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
	background-color: #4070a0;
  border-radius: 5px;
}

#TOC {
  margin-top: 1em;
}

#TOC ul {
  margin: 0;
}

#TOC li {
  line-height: 1.5em;
  margin: 0;
}

ul.twocol li{
  margin-left: 0;
}

table {
  margin: 0 auto;
  margin-top: 2em;
}

th {
  background-color: #5B4646;
  color: white;
}

th.trans {
  background-color: white;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*table.narrow th, table.narrow td {
  padding: 5px;
}*/

.topcaption {
  position: relative;
  top: 20px;
}

.rotate > div {
  transform: translate(16px,40px) rotate(270deg);
  width: 1em;
}

.rotateS > div {
  transform: translate(26px,22px) rotate(270deg);
  width: 1em;
  height: 4.5em;
}

.td-dark {
  background-color: #f2f2f2;
}

table.where {
  margin: 0;
  margin-top: 1em;
}

.where th {
  background-color: white;
  color: black;
  font-weight: normal;
}

.where th, .where td {
  padding: 0;
  text-align: left;
}

.where tr:nth-child(even) {
  background-color: white;
}

.marquee {
  background: #ABB4BE;
  margin: 2em 0 1em 0;
  line-height: 3em;
  height: 3em;
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.marquee p {
  position: absolute;
  margin: 0;
  text-align: center;
  padding-left: 50%;
  animation: marquee 180s linear infinite;
}
@keyframes marquee {
  0%  {
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}

#bibliography {
  margin-top: 4em;
}

@media screen and (min-width: 480px) {
  body {
    width: 80%;
    margin: auto;
  }
  ul.twocol {
    columns: 200px 2;
  }
  ul.twocol li{
    margin-left: 2em;
  }
  .titleimg figcaption {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    background-color: rgba(255, 255, 255, 0.7);
    width: 95%;
    height: 95%;
    opacity: 0;
    text-align: center;
    font-size: 1em;
    opacity: 0;
  }
  .titleimg figcaption:hover {
    opacity: 1;
    transition: opacity 1s;
  }
  .titleimage {
    color: black;
  }
}

@media screen and (min-width: 700px) {
  figure {
    text-align: center;
    margin: 2em;
  }
  .titleimg figcaption {
    font-size: 1.5em;
    opacity: 0;
  }
  .titleimg figcaption:hover {
    opacity: 1;
    transition: opacity 1s;
  }
  .equation img {
    width: 40%;
    max-width: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .hide {
    display: block;
  }
  figure.half {
    width: 40%;
    display: inline-block;
  }
  .titleimg figcaption {
    font-size: 1.5em;
    opacity: 0;
  }
  .titleimg figcaption:hover {
    opacity: 1;
    transition: opacity 1s;
  }
  #title {
    position: relative;
  }
  .titletext {
    width: 49%;
    box-sizing: border-box;
    margin: 5px 0 0 5px;
    text-align: center;
    display: inline-block;
    /*vertical-align: top;*/
  }
  .titletext h1 {
    height: 360px;
    font-size: 4em;
    line-height: 1.75em;
  }
  .titletext h2 {
    padding-top: 25px;
    height: 100px;
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .titletext h3 {
    position: absolute;
    box-sizing: border-box;
    bottom: 50px;
    height: 60px;
    width: 49%;
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .titletext nav {
    height: 45px;
    box-sizing: border-box;
    position: absolute;
    bottom: 5px;
    width: 49%;
  }
  .titleimage {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
  .equation figcaption {
    position: absolute;
    right: 10%;
    top: 50%;
    left: 90%;
  }
  figure[id="fig:10.1"] img {width: 600px; max-width: 2000px;}
  figure[id="fig:10.3"] img {width: 500px;}
}

@media screen and (min-width: 1000px) {
  .titleimage img {
    max-width: 650px;
  }
}



/* Custom img widths */

figure[id="fig:6.1"] img {width: 300px;}
figure[id="eq:6.1"] img {width: 150px;}
figure[id="fig:6.2"] img {width: 370px;}
figure[id="fig:6.3"] img {width: 370px;}
figure[id="eq:6.7"] img {width: 700px; max-width: 2000px;}
figure[id="fig:6.7"] img {width: 400px;}
figure[id="fig:8.1"] img {width: 150px;}
figure[id="fig:8.2"] img {width: 400px;}
figure[id="fig:9.1"] img {width: 150px;}
figure[id="fig:9.2"] img {width: 400px;}
figure[id="fig:9.3"] img {width: 400px;}
figure[id="fig:9.4"] img {width: 450px;}
figure[id="fig:10.2"] {width: 200px; float:right; margin: 0 0 0 10px;}
figure[id="fig:12.1.a"] {text-align: left;}
figure[id="fig:12.1.b"] {text-align: left;}
figure[id="fig:14.1"] img {width: 400px;}
