@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/*
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/

/*
regent grey #87939B
bismark #476775 poem
ivanhoe #314956 mainnav
dark knight #1F2D35
dark tan #956248 h3
longitude #ABB4BE
enigma #4E496E h1
picton blue #5F9CCB h2
*/



body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

blockquote {
  font-family: 'Roboto', sans-serif;
  background-color: #ABB4BE;
  padding: .25em .75em 1em 1.25em;
}

code {
  font-family: 'Roboto Mono', monospace;
}

.mainnav {
  background-color: #314956;
  position: relative;
  padding: 10px;
}

.mainnav a {
  color: #fff;
}

.left {
  position: absolute;
}

.centre {
  display: inline-block;
  text-align: center;
  width: 50%;
  margin: 0 25%;
}

.right {
  position: absolute;
  right: 10px;
  top: 10px;
}

.triplespiral {
  width: 100px;
  margin: 10px 45%;
}

.titleimg {
  margin: 5px 0 0 0;
  position: relative;
}

.titleimg figcaption {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  background-color: rgba(255, 255, 255, 0.7);
  width: 95%;
  height: 95%;
  opacity: 0;
  font-size: 1em;
  text-align: center;
}

.titleimg figcaption:hover {
  opacity: 1;
  transition: opacity 1s;
}

.titleimg figcaption a {
  font-size: 2em;
}

.poem {
  padding: 20px;
  background-color: #476775;
  color: #fff;
}

h1 {
  color: #fff;
  background-color: #4E496E;
  padding-left: 10px;
  line-height: 3em;
}

h2 {
  color: #fff;
  background-color: #5F9CCB;
  padding-left: 10px;
  line-height: 2em;
}

h3, h3 a {
  color: #fff;
  background-color: #956248;
  padding-left: 10px;
  line-height: 1.5em;
}

p {
  padding-left: 5px;
}

.blockcitation {
  float: right;
  font-size: .8em;
  color: #87939B;
}

figure {
  display: inline-block;
}

figure img {
  width: 100%;
}

figcaption {
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
}

toc-section-number {
  margin-right: 10px;
}


@media screen and (min-width: 480px) {
  body {
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 700px) {
  figure.half {
    width: 40%;
  }
}